/** sitewide CSS **/
/** sitewide CSS **/
/** sitewide CSS **/

.custombutton {
	width: 175px;
	height: 50px;
	font-size: 24px;
}

.clearboth {
	clear: both;
}

.directions {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 85%;
}

.directionstext {
	font-size: 18px;
	text-align: center;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

table {
	width: 67%;
	float: right;
}

td {
	text-align:center;
	padding: 10px;
	font-size: 18px;
}

#headerimage {
	width: 69%;
	/**width: 683px;
	height: 308px;**/
}

#footerimage {
	float: right;
	padding-top: 25px;
	width: 20%;
}


/** _master CSS **/
/** _master CSS **/
/** _master CSS **/

body {
	font-family: Tahoma, Geneva, sans-serif;
	margin-bottom: 50px;
	color: #494047;
	background-color: #153167;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	min-width: 700px;
	max-width: 1083px;
	background-color: white;
	min-height: 100%;
}


/** welcome CSS **/
/** welcome CSS **/
/** welcome CSS **/

#sidebarimage {
	float:left;
	width: 31%;
	/** width: 350px; 31%
	height: 1000px;**/
}

#welcome {
	display: block;
	padding: 20px;
	width: 65%;
	float: right;
}

#welcometext {
	font-size: 18px;
	margin-right: 25px;
	text-align: justify;
}


/** randomusers CSS **/
/** randomusers CSS **/
/** randomusers CSS **/






/** fillertext CSS **/
/** fillertext CSS **/
/** fillertext CSS **/

#fillerform {
	font-size: 20px;
	display: block;
	width: 70%;
	padding: 30px;
	float: left;
}

#outputarea {
	padding: 10px;
	text-align: center;
	word-wrap: normal;
}

#actualoutput {
	color: #a0001c;
    font-weight: bold;
    font-size: 24px;
}
